<a href="https://colab.research.google.com/github/cromakicuki/ai/blob/main/22_01_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#############################################
# 복습
#############################################

# Comment 주석 - 코드에 대한 설명, 컴퓨터는 읽지 않고 사람만 읽는 내용.
# 또 다른 용법으로는 코드를 임시로 실행하지 않고 감추고 에러를 확인하는 용도로도 사용된다.
# 본인이 기록한 내용을 나중에 확인할 때 또는 다른 팀원이 작성한 내용을 파악하기 용이하게 만든다.

# #을 사용하여 주석을 표시한다. (아예 읽히지 않는 것.) ('ctrl+/')
# Doc string (주석의 용도로도 쓰이는 것. 컴퓨터가 읽는다.)
'''
작성일 : 2022/01/26
담당자 : 홍길동
비고 : (연락처)
'''
"""
작성일 : 2022/01/26
담당자 : 홍길동
비고 : (연락처)
"""
# 코드의 윗쪽 또는 오른쪽에 주석을 붙인다.
print('Hell World') # 코드의 우측 또는 코드의 윗줄에 적는다.

Hell World

In [ ]:
# 변수 Variable
# 어떤 값을 저장하는 저장소 (a-적 설명)
a = 100 
print(a)

stumathsum = 350
stu_math_sum = 350 # 스네이크 케이스 snake_case (단어마다 언더바를 넣어주는 것. 뱀을 닮았다고 하여 스네이크)
StuMathSum = 350 # 캐멀 케이스 CamelCase (단어의 첫 글자마다 대문자를 넣어주는 것. 낙타를 닮았다고 하여 캐멀)

100

In [ ]:
# 1a = 100 변수명에 숫자가 먼저 올 순 없다.
a1 = 100

In [ ]:
_a = 100
# !a = 100 변수명에 특수문자가 먼저 올 순 없다. (언더바 제외)

In [ ]:
홍길동 = 55
# 한글 변수명은 사용이 가능하지만 쓰지 말자.

In [ ]:
# 인덱싱 (슬라이싱)

s = 'world'
print(s[2]) # 파이썬은 인덱스 시작이 0이다. (대부분이 0에서 시작. 1에서 시작하는 것이 특수한 경우이다.)
print(s[-1]) # -1은 마지막 인덱스를 가리킨다.
print(s[4])

ss = '900101-2547389'
print(ss[7]) # 하나만 추출할 때에는 indexing
addr = '서울시 강남구 역삼동 1번지'
print(addr[4:7]) # 여러 개를 추출할 때에는 slicing

r
d
d
2
강남구

In [ ]:
# print() 

print('좋은 아침입니다.')

좋은 아침입니다.

In [ ]:
when = '저녁'
print('좋은',when,'입니다.')

print('좋은 %s입니다.' % when)
print('좋은 {}입니다.' .format(when))

print(f'좋은 {when}입니다.') # *****

좋은 저녁 입니다.
좋은 저녁입니다.
좋은 저녁입니다.
좋은 저녁입니다.

In [ ]:
########################################################
# 리스트 List 튜플 Tuple  딕셔너리 Dict  셋 Set
########################################################
# 파이썬에서 아주 특징적인 자료형.
# : 여러 개의 값을 한번에 저장하는 자료형이 필요하다.

# 리스트 List
# ::가장 많이 쓰이는 자료형
# 지금까지 사용한 숫자 1, 문자 1 등 개별적, 독립적인 자료가 아닌, 리스트는 이러한 자료들 여러개를 모아서 사용할 수 있게 해준다.
# 리스트에 넣는 자료를 요소element 라고 한다.
# 리스트는 []로 구성한다.
# *그러나 대괄호는 여기저기서 쓰인다. 대괄호를 쓴다고 해서 어느 자료형이라고 특정할 수 없다.
list = [1,2,3,4,5]
print(list)
# 리스트는 다양한 자료형의 데이터를 한번에 담을 수 있다. 
# 그러나, 에러를 방지하기 위해서 하나의 리스트에는 
# 모든 자료형의 데이터를 담는 것이 아니라 한 가지의 자료형만 저장하는 것이 바람직하다.
list = [1,2,3,'대한','민국',True, False]
print(list)
# 리스트는 인덱싱 indexing과 슬라이싱 slicing이 가능하다.
score = [80,90,70,60]
print(score[0]) # 파이썬은 0부터 시작한다.
print(score[0:2]) #슬라이싱은 0부터 2미만... 처럼 끝은 미만을 나타낸다.
# *인덱싱과 슬라이싱은 아주 많이 쓴다.

# 리스트는 수정/삭제가 가능하다. (mutable, 튜플은 immitable) ::튜플은 수정이 불가능::
score[0] = 100
print(score)
score[-1] = 100
print(score)
# score[4] # indexerror 아주 많이 접하게 될 에러 (예외)

#리스트는 연산이 가능하다.
list_a = [1,2,3]
list_b = [4,5,6]

print('list_a =',list_a)
print('list_b =',list_b)
print(list_a+list_b)
print(list_a*3)
print(len(list_a))

[1, 2, 3, 4, 5]
[1, 2, 3, '대한', '민국', True, False]
80
[80, 90]
[100, 90, 70, 60]
[100, 90, 70, 100]
list_a = [1, 2, 3]
list_b = [4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [ ]:
# 리스트에 많이 사용되는 함수들
# append() (제일 많이 사용) 리스트에 요소를 추가할 때 사용 **끝에만 추가

print(score)
score.append(60)
print(score)
score.append(70)
print(score)

[100, 90, 70, 100]
[100, 90, 70, 100, 60]
[100, 90, 70, 100, 60, 70]

In [ ]:
# insert() 리스트에 요소를 추가할 때 사용 **특정 위치를 지정하여 추가

list = []
list.insert(0, 10)
print(list)

list.insert(1, 50)
print(list)

[10]
[10, 50]

In [ ]:
list_a = [1,2,3]
list_a.extend([4,5,6]) # 한 번에 여러 개를 넣을 때에는 extend를 사용.
list_a # 파괴적 처리 (변수 자체가 바뀐다)

[1, 2, 3, 4, 5, 6]

In [ ]:
list_a = [1,2,3]
list_b = [4,5,6]
print(list_a + list_b)
print(list_a) # 비파괴적 처리 (변수가 바뀌지 않는다)

# 리스트 연결만으로는 list_a에 어떠한 영향도 주지 않는다. (비파괴적 처리)
# 하지만 extend()를 사용하면, list_a에 직접적으로 영향을 주게 된다. (파괴적 처리)

# 원래 자료를 사용할 때는 비과적으로 사용하는 것이 바람직하다.
# 가능하면 원본 데이터는 그대로 유지하고 사용하는 것이 선택지가 더 넓다.

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [ ]:
# del() 리스트에서 인덱스 위치 데이터 삭제

list_a = [0,1,2,3,4,5]
del list_a[1] # index 값으로 위치값을 삭제
print(list_a)

del list_a[1:3] # 1부터 3미만 즉, 2까지
print(list_a)

del list_a[:] # 생략하면 처음 : 생략하면 끝까지
print(list_a)

# list_a.clear() 리스트 요소를 전부 한번에 삭제

[0, 2, 3, 4, 5]
[0, 4, 5]
[]

In [ ]:
# pop() 리스트에서 마지막 위치 데이터 삭제
list_a.pop()
list_a

IndexError: ignored

In [ ]:
list_a.pop(1)
list_a

In [ ]:
# remove 값으로 삭제

list_c = [1,2,1,2]
list_c.remove(2) # remove 는 요소의 값을 찾아 삭제한다.
                # 동일한 값이 여러 개 있을 때는 하나씩 순차적으로 삭제한다.
                # 리스트에서 중복된 여러 개의 값을 제거하려면 반복문을 사용한다.
print(list_c)
list_c.remove(2)
print(list_c)

In [ ]:
list = [1,2,3,4,5]
print(list[0]) # indexsing 비파괴적으로 동작한다.
print(list)

print(list.pop()) # pop은 파괴적으로 동작한다.
print(list)

In [ ]:
# in / not in  리스트에 존재하는 요소인지를 확인.

list = [222,434,65,123,547,876]
print(222 in list)

print(221 in list)

print(221 not in list)

In [ ]:
# 딕셔너리 (java의 map, JS의 json과 유사한 자료구조)
# 리스트가 인덱스를 기반으로 값을 저장한다면 딕셔너리는 키값을 기반으로 값을 저장한다.

# {} 를 사용하여 데이터들을 저장한다.
# 삽입/삭제가 가능하다. mutable
# 순서가 없으므로 인덱싱과 슬라이싱이 불가능하다.

dict = {
    "name": "엔드 게임",
    "no":1,
    "type": "히어로 무비",
    "price": 10000
}
print(dict)
dict['name']

In [ ]:
dict = {
    "감독":["안소니","루소"],
    "배우":["타노스","토르","헐크"]
}
dict["감독"]

In [ ]:
dict = {
    'name': '건조 망고',
    'type': '건조 과일',
    'ingredient': ['망고','설탕','색소'],
    'origin':'필리핀'
}

print('name:', dict['name'])
print('type:',dict['type'])
print('ingredient:',dict['ingredient'])
print('origin:',dict['origin'])

dict['name'] = '망고'
print('name:', dict['name'])

print(dict['ingredient'][0])

dict['price'] = 5000

print(dict)

dict['price'] = 4000

print(dict)

del dict['price']
print(dict)

In [ ]:
dict = {}

dict['name'] = '새 이름'
dict['height'] = 185
dict['weight'] = 75

print(dict)
del dict['weight']
print(dict)

In [ ]:
# dict 자주 등장하는 에러 (예외)

# KeyError 리스트에서 없는 인덱스에 접근하려고 하면 IndexError가 발생되는 것처럼
#         딕에서도 존재하지 않는 키값을 사용하면 예외 또는 에러를 발생시킨다.

dict = {
    'name': '건조 망고',
    'type': '건조 과일',
    'ingredient': ['망고','설탕','색소'],
    'origin':'필리핀'
}

del dict['nane']

In [ ]:
dict = {
    'name': '건조 망고',
    'type': '건조 과일',
    'ingredient': ['망고','설탕','색소'],
    'origin':'필리핀'
}

key = input('>삭제를 원하는 데이터의 키값을 입력하세요: ')

if key in dict:
  print(dict[key])
else:
  print('존재하지 않는 키에 접근하고 있습니다.. ')

In [ ]:
# 튜플 tuple
# () 를 사용하여 작성한다. 튜플은 괄호를 생략할 수 있다.
# 리스트와 거의 대부분 유사하나, 튜플은 삽입/수정 등이 불가능하다. immutable
# 튜플은 1개의 원소로 작성할 때는 ,를 삽입한다. (1,), (1,2), [1]
# 

t = (1, 2)
print(t)
print(type(t))

t2 = 3,4
print(t2)
print(type(t2))

t3 = (5) # 괄호의 개념이 (5)일 때에는 (5) == 5 이다.
print(t3)
print(type(t3))

t4 = 5 # 괄호의 개념이 (5)일 때에는 (5) == 5 이다.
print(t4)
print(type(t4))

t5 = (5,) 
print(t5)
print(type(t5))

In [ ]:
t = (1,2,3,4,5)
# t[0] = 8  튜플은 수정이 불가능하다. immutable
del t[0] # 튜플은 삭제가 불가능하다. immutable

In [ ]:
t = (1,2,3,4,5)

print(t[1]) # 튜플은 인덱싱이 가능하다. 
print(t[2:])# 튜플은 슬라이싱이 가능하다.

In [ ]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9)

print(t1 + t2)
print(t1)
print(t2)

print(t1*3)

# 비 파괴적 연산은 가능하다.

In [ ]:
# Set 집합
# {}를 사용하여 작성한다.
# 중복을 허용하지 않는다.
# 순서가 없다. unordered 리스트나 튜플은 순서가 있기 때문에 ordered 인덱싱과 슬라이싱을 통해
# 값을 꺼낼 수 있지만, 딕셔너리와 셋은 순서가 없어 불가능하다.
# 중복을 허용하지 않는다는 특성을 활용하여 중복 제거 필터용으로 많이 사용된다.
# set 자료형에 저장된 값을 꺼내려면 리스트나 튜플로 변환하여 사용한다.
# mutable 수정/삭제가 가능하다.

set = {1,1,2,2,2,3,4}
print(set)

print(set[0])

In [ ]:
s1 = set([1,1,1,2,2,3])
print(type(s1))
print(s1)
li = list(s1)
print(type(li))
print(li)
li[0]

<class 'set'>
{1, 2, 3}
<class 'list'>
[1, 2, 3]

1

In [ ]:
# 집합 계산

set1 = {1,2,3}
set2 = {2,3,4}

print(type(set1))
print(type(set2))

# 양쪽 집합에 모두 공통적으로 포함되는 원소 -> 교집합
print(set1 & set2)
print(set1.intersection(set2))

# 양쪽 집합의 모든 포함되는 원소 -> 합집합
print(set1 | set2)
print(set1.union(set2))

# 두 개 집합의 차 -> 차집합
print(set1 - set2)
print(set2 - set1)
print(set1.difference(set2))
print(set2.difference(set1))

<class 'set'>
<class 'set'>
{2, 3}
{2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1}
{4}
{1}
{4}

In [ ]:
# 집합은 삽입 가능 mutable

set1 = {1,2,3}
print(set1)
set1.add(4)
print(set1)

set1.update([5,6,7,8])
print(set1)

# 집합은 삭제가 가능하다. mutable
# 집합은 인덱스 개념이 존재하지 않는다. 따라서 지정하여 직접 삭제한다.
set1.remove(4)
print(set1)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 5, 6, 7, 8}

In [ ]:
# Q1. 입력) 학번을 입력하세요 >> 31025
#          출력) 3학년 10반 25번

stu_num = input('학번을 입력하세요 : ')
print(stu_num[0],'학년',stu_num[1:3],'반',stu_num[3:],'번')

학번을 입력하세요 : 31025
3 학년 10 반 25 번

In [ ]:
# Q2. 입력) 차량 번호를 입력하세요. >>서울2가1234 or 288가1233
#     출력) 서울2가1234 의 차량번호 끝 4자리는 1234 입니다.

car = input('차량 번호를 입력하세요 >> ')
print(f'{car}의 차량번호 끝 4자리는 {car[-4:]}입니다.')

차량 번호를 입력하세요 >> 서울2가1234
서울2가1234의 차량번호 끝 4자리는 1234입니다.

In [ ]:
# Q3. 인덱싱과 슬라이싱을 사용하지 말고 
#     name = 'austin' 가운데 글자를 추출하는 프로그램을 구현하시오
# 홀수 갯수의 문자열을 입력 받아 
# 가운데 글자를 추출하는 프로그램을 구현하시오
# 입력) 문자열을 홀수로 입력하세요 >> austins
# 출력) 문자열의 가운데 글자는 t입니다.
name = input('문자열을 홀수로 입력하세요 >>')

print(int(len(name)/2)) #len은 모든 글자의 수
print(len(name)//2) # 몫만 추출
print(len(name)%2) # 나머지만 추출 (홀수 짝수 배수)
print(f'문자열의 가운데 글자는 {name[len(name)//2]}입니다.')

문자열을 홀수로 입력하세요 >>asdsdfe
3
3
1
문자열의 가운데 글자는 s입니다.

In [ ]:
# [1,2,3,4,5,6,7,8,9] 의 3번째 요소부터 7번째 요소만 추출한 결과에서 2번째 요소를 출력하는 프로그램을 구현하세요.
# (한번에)

list = [1,2,3,4,5,6,7,8,9]
print(list[2:7][1])  # 한번 이미 추출한 뒤에 바로 대괄호를 사용하여 추출이 가능하다.

4

In [ ]:
##########################
# if 
##########################

# 특정 조건을 만족하는지 여부에 따라 실행되는 코드가 달라져야할 때 사용된다.
# 날씨가 맑으면 소풍을 가고 아니면 공부를 한다.

# if 조건식:
#   만족할 때 실행 코드
# else:
#   만족하지 못할 때 실행되는

# if 맑으면:
#   소풍을 간다.
# else:
#   공부를 한다.

if False:
  print('만족')
else:
  print('불만족')

불만족

In [ ]:
age = int(input('나이를 입력하세요 >> '))

if age >= 18:
  print('당신은 성인입니다.')
else:
  print('당신은 성인이 아닙니다.')

나이를 입력하세요 >> 10
당신은 성인이 아닙니다.

In [ ]:
age = int(input('나이를 입력하세요 >> '))

if age < 10:
  print('당신은 유아입니다.')
elif age < 20:
  print('당신은 10대입니다.')
elif age < 30:
  print('당신은 20대입니다.')
elif age < 40:
  print('당신은 30대입니다.')
elif age < 50:
  print('당신은 40대입니다.')
elif age < 60:
  print('당신은 50대입니다.')
elif age < 70:
  print('당신은 60대입니다.')
else:
  print('당신은 노인입니다.')

나이를 입력하세요 >> 56
당신은 50대입니다.

In [ ]:
# 입력) 당신의 점수를 입력하세요 >>> 95
# 출력) 당신의 점수는 95점이고 학점은 A학점 입니다.
# 100~90 A / 90~ 80 B

a = int(input('당신의 점수를 입력하세요 >>> '))
g = ""
if a >= 90:
  g ='A'
elif a >= 80:
  g ='B'
elif a >= 70:
  g ='C'
elif a >= 60:
  g ='D'
else:
  g ='F'
print(f'당신의 점수는 {a}점이고 학점은 {g}학점입니다.')

당신의 점수를 입력하세요 >>> 50
당신의 점수는 50점이고 학점은 F학점입니다.

In [ ]:
# 임의의 정수를 입력받아서 그 수가 3의 배수인지를 확인하는 프로그램을 작성하시오
# (입력) 정수를 입력하세요 >>> 14
# (출력) 14는 3의 배수가 아닙니다.

i = int(input('정수를 입력하세요 >>> '))
g = ""
if a%3 == 0:
  g = "맞습니다"
else:
  g = "아닙니다"

print(f'{i}는 3의 배수가 {g}')

정수를 입력하세요 >>> 50
50는 3의 배수가 아닙니다

In [ ]:
t1 = int(input('정수 1 입력 > '))
t2 = int(input('정수 2 입력 > '))
t3 = int(input('정수 3 입력 > '))
g = 0

if t1 > t2 & t1 > t3:
  g = t1
elif t2 > t3:
  g = t2
else:
  g = t3

print(f'제일 큰 수는 {g}입니다')

정수 1 입력 > 50
정수 2 입력 > 40
정수 3 입력 > 80
제일 큰 수는 80입니다