<a href="https://colab.research.google.com/github/cromakicuki/ai/blob/main/22_02_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pip install requests
import requests # 웹 페이지 연결 모듈

In [ ]:
# pip install bs4
from bs4 import BeautifulSoup as bs # 읽어온 웹페이즈를 분석하기 쉽게 정제

In [ ]:
html = requests.get('https://music.bugs.co.kr/chart')
# html = requests.get('https://mw.genie.co.kr/chart')
# print(html.text)

In [ ]:
soup = bs(html.text) # beautifulSoup 을 통해 데이터를 분석하기 용이하게 정제한다.
# print(soup)

In [ ]:
len(soup.select('tr')) # tr 태그가 붙은 부분을 모두 추출

104

In [ ]:
len(soup.select('tbody > tr')) # 원하는 100개 아니므로 범위를 축소

103

In [ ]:
len(soup.select('table.byChart > tbody > tr')) # 원하는 100개 아니므로 범위를 축소

100

In [ ]:
songs = soup.select('table.byChart > tbody > tr') # 최종 100개 축소 완료
songs[1]

<tr albumid="20450314" artistid="65269" multiartist="N" mvid="606156" rowtype="track" trackid="32464983">
<input name="_isStream" type="hidden" value="32464983"/>
<input name="_isDown" type="hidden" value="32464983"/>
<td class="check"><input buyminquality="T" disc_id="1" name="check" title="그래서 그래 (Feat. 윤하)" type="checkbox" value="32464983"/></td>
<td>
<div class="ranking">
<strong>2</strong>
<p class="change none"><em>0</em><span>변동없음</span></p>
</div>
</td>
<td>
<a class="thumbnail" href="https://music.bugs.co.kr/album/20450314?wl_ref=list_tr_07_chart" onclick="
">
<span class="mask"></span>
<img alt="Epik High Is Here 下 대표이미지" onerror="bugs.utils.imgError(this);" src="https://image.bugsm.co.kr/album/images/50/204503/20450314.jpg?version=20220215012912.0"/>
</a>
</td>
<td>
<a class="trackInfo" href="https://music.bugs.co.kr/track/32464983?wl_ref=list_tr_08_chart" onclick="
">곡정보</a>
</td>
<th scope="row">
<p adult_yn="N" class="title">
<a adultcheckval="1" aria-label="새창" href="javascript:;" onclick="bugs.wiselog.area('list_tr_09_chart');bugs.music.listen('32464983',true);
" title="그래서 그래 (Feat. 윤하)">그래서 그래 (Feat. 윤하)</a>
</p>
</th>
<td class="left">
<p class="artist">
<a href="https://music.bugs.co.kr/artist/65269?wl_ref=list_tr_10_chart" onclick="
" title="에픽하이 (EPIK HIGH)">에픽하이 (EPIK HIGH)</a>
</p>
</td>
<td class="left">
<a class="album" href="https://music.bugs.co.kr/album/20450314?wl_ref=list_tr_11_chart" onclick="
" title="Epik High Is Here 下">Epik High Is Here 下</a>
</td>
<td>
<a adultcheckval="1" aria-label="새창" class="btn play" href="javascript:;" onclick="bugs.wiselog.area('list_tr_12_chart');bugs.music.listen('32464983',true);
">듣기</a>
</td>
<td>
<a adultcheckval="1" aria-label="새창" class="btn addPlaylist" href="javascript:;" onclick="bugs.wiselog.area('list_tr_13_chart');bugs.music.listen('32464983');
">재생목록에 추가</a>
</td>
<td>
<a class="btn addAlbum" href="javascript:;" onclick="bugs.wiselog.area('list_tr_14_chart');bugs.music.addTrackToMyAlbum(this,'32464983');
" track_title="그래서 그래 (Feat. 윤하)">내 앨범에 담기</a>
</td>
<td>
<a adultcheckval="1" aria-label="새창" class="btn download flac" href="javascript:;" onclick="bugs.wiselog.area('list_tr_15_chart');bugs.layermenu.down(this,'32464983','true','true','44.1','true','48', null );
"><em class="flac">flac </em>다운로드</a>
</td>
<td>
<a aria-label="새창" class="btn viewMV" href="javascript:;" onclick="bugs.wiselog.area('list_tr_16_chart');
bugs.layermenu.mv(this,32464983, 606156, 'Y', 'Y', 'Y', 'Y', 32464983, 'N','ALL', 'Y');
">영상 재생</a>
</td>
<td>
<a artist_disp_nm="에픽하이 (EPIK HIGH)" artist_id="65269" class="btnActions" href="javascript:;" layer_type="CHART" layerpositiontarget="td" onclick="bugs.wiselog.area('list_tr_17_chart');
bugs.layermenu.trackMoreAction(this,'32464983','0','20450314','bugs.music.listenRadioFromSeed(\'32464983\',\'track\');','N', 'Y', '_chart');
" track_title="그래서 그래 (Feat. 윤하)">기타 기능</a>
</td>
</tr>

In [ ]:
len(songs[0].select('p > a'))

2

In [ ]:
len(songs[0].select('p.artist > a'))

1

In [ ]:
singer = songs[0].select('p.artist > a')[0].text
singer

[<a href="https://music.bugs.co.kr/artist/80026437?wl_ref=list_tr_10_chart" onclick="
 " title="태연 (TAEYEON)">태연 (TAEYEON)</a>]

In [ ]:
title = songs[0].select('p.title > a')[0].text
title

'INVU'

In [ ]:
song_data = []
rank = 1
i = 0

songs = soup.select('table.byChart > tbody > tr')

for song in songs:
  singer = songs[i].select('p.artist > a')[0].text
  title = songs[i].select('p.title > a')[0].text
  song_data.append([rank,title,singer])
  rank += 1
  i += 1

song_data

[[1, 'INVU', '태연 (TAEYEON)'],
 [2, '그래서 그래 (Feat. 윤하)', '에픽하이 (EPIK HIGH)'],
 [3, '그런 밤 (Some Nights)', '태연 (TAEYEON)'],
 [4, 'Dilemma', 'Apink (에이핑크)'],
 [5, 'Set Myself On Fire', '태연 (TAEYEON)'],
 [6, '어른아이 (Toddler)', '태연 (TAEYEON)'],
 [7, '우연처럼,인연처럼,운명처럼', '김기태'],
 [8, 'Timeless', '태연 (TAEYEON)'],
 [9, 'Siren', '태연 (TAEYEON)'],
 [10, '품 (Heart)', '태연 (TAEYEON)'],
 [11, 'Cold As Hell', '태연 (TAEYEON)'],
 [12, 'No Love Again', '태연 (TAEYEON)'],
 [13, '잊을 수 있을까', '노을'],
 [14, 'You Better Not', '태연 (TAEYEON)'],
 [15, '언제나 사랑해', '케이시'],
 [16, '너만 예뻐', '스탠딩 에그(Standing Egg)'],
 [17, "Stronger (What Doesn't Kill You)", 'Kelly Clarkson(켈리 클락슨)'],
 [18, 'Ending Credits', '태연 (TAEYEON)'],
 [19, 'SMILEY (Feat. BIBI)', 'YENA (최예나)'],
 [20, 'Prequel', '에픽하이 (EPIK HIGH)'],
 [21, 'Stay Alive (Prod. SUGA of BTS)', '정국'],
 [22, '대낮에 한 이별', '선예'],
 [23, '아무렇지 않은 척', '빅마마(Big Mama)'],
 [24, 'ELEVEN', 'IVE (아이브)'],
 [25, 'Rich Kids Anthem (Feat. 이하이)', '에픽하이 (EPIK HIGH)'],
 [26, 'BRB', '에픽하이 (EPIK HIGH)'],
 [27, 'Step Back', 'GOT the beat'],
 [28, "Can't Control Myself", '태연 (TAEYEON)'],
 [29, '취중고백', '김민석 (멜로망스)'],
 [30, 'abcdefu', 'GAYLE'],
 [31, 'Super Rare (Feat. Wonstein, pH-1)', '에픽하이 (EPIK HIGH)'],
 [32, '슬픈 연극 (금혼령 X 에일리 (Ailee))', '에일리(Ailee)'],
 [33, '사랑은 늘 도망가', '임영웅'],
 [34, '우리가 헤어져야 했던 이유', '비비(BIBI)'],
 [35, '너 아니면 안돼', '먼데이 키즈(Monday Kiz)'],
 [36, '서랍', '10CM'],
 [37, '넌 나에게', '기프트(GIFT)'],
 [38, 'DM', '프로미스나인'],
 [39, 'Dreams Come True', 'aespa'],
 [40, 'BOP BOP!', 'VIVIZ (비비지)'],
 [41, '드라마', '아이유(IU)'],
 [42, 'Christmas Tree', 'V'],
 [43, 'Next Level', 'aespa'],
 [44, 'strawberry moon', '아이유(IU)'],
 [45, 'Counting Stars (Feat. Beenzino)', "BE'O (비오)"],
 [46, '너, 너 (N번째 연애 X 휘인 (Whee In))', '휘인(Whee In)'],
 [47, '신호등', '이무진'],
 [48, '눈이 오잖아(Feat.헤이즈)', '이무진'],
 [49, 'Champagne', '에픽하이 (EPIK HIGH)'],
 [50, '비 오는 날 듣기 좋은 노래 (Feat. Colde)', '에픽하이 (EPIK HIGH)'],
 [51, '다정히 내 이름을 부르면', '경서예지'],
 [52, '회전목마 (Feat. Zion.T, 원슈타인) (Prod. Slom)', 'sokodomo'],
 [53, '겨울잠', '아이유(IU)'],
 [54, '여름비', '샘김(Sam Kim)'],
 [55, 'STAY', 'The Kid LAROI'],
 [56, '라일락', '아이유(IU)'],
 [57, '안녕, 잘 가', '원필(DAY6)'],
 [58, '가족관계증명서 (Feat. 김필)', '에픽하이 (EPIK HIGH)'],
 [59, 'OHAYO MY NIGHT', '디핵(D-Hack)'],
 [60, '리무진 (Feat. MINO) (Prod. GRAY)', "BE'O (비오)"],
 [61, 'Light Switch', 'Charlie Puth(찰리 푸스)'],
 [62, 'Butter', '방탄소년단'],
 [63, "I Hated Myself (Tablo's Word)", '에픽하이 (EPIK HIGH)'],
 [64, 'Savage', 'aespa'],
 [65, '너무 아픈 사랑은 사랑이 아니었음을', '싱어게인2 33호 가수'],
 [66, 'Off My Face', 'Justin Bieber(저스틴 비버)'],
 [67, 'Permission to Dance', '방탄소년단'],
 [68, '사랑하는 척', '바이브'],
 [69, '문득', "BE'O (비오)"],
 [70, 'Blueming', '아이유(IU)'],
 [71, 'Dynamite', '방탄소년단'],
 [72, '만남은 쉽고 이별은 어려워 (Feat. Leellamarz) (Prod. TOIL)', '베이식(Basick)'],
 [73, 'WA DA DA', 'Kep1er (케플러)'],
 [74, 'Weekend', '태연 (TAEYEON)'],
 [75, 'Celebrity', '아이유(IU)'],
 [76, '낙하 (with 아이유)', 'AKMU(악뮤)'],
 [77, "Good Night (Feat. BE'O)", '쿠기 (Coogie)'],
 [78, 'My Universe', 'Coldplay(콜드플레이)'],
 [79, 'Face ID (Feat. GIRIBOY, Sik-K, JUSTHIS)', '에픽하이 (EPIK HIGH)'],
 [80, '흰눈', '먼데이 키즈(Monday Kiz)'],
 [81, '호랑수월가', '탑현'],
 [82, '너를 생각해', '주시크 (Joosiq)'],
 [83, '행운을 빌어 줘', '원필(DAY6)'],
 [84, 'HOLY MOLY', 'Apink (에이핑크)'],
 [85, '지우게', '원필(DAY6)'],
 [86, '너의 모든 순간', '성시경'],
 [87, 'Starlight', '태일 (TAEIL)'],
 [88, 'Bad Habits', 'Ed Sheeran(에드 시런)'],
 [89, 'Peaches (feat. Daniel Caesar, Giveon)', 'Justin Bieber(저스틴 비버)'],
 [90, '너는 내 세상이었어', '볼빨간사춘기'],
 [91, '모든 날, 모든 순간 (Every day, Every Moment)', '폴킴(Paul Kim)'],
 [92, '이별후회', '김나영'],
 [93, 'Queendom', 'Red Velvet (레드벨벳)'],
 [94, '바라만 본다', 'MSG워너비(M.O.M)'],
 [95, '에잇(Prod.&Feat. SUGA of BTS)', '아이유(IU)'],
 [96, '어떻게 이별까지 사랑하겠어, 널 사랑하는 거지', 'AKMU(악뮤)'],
 [97, '이등병의 DM', '임플란티드 키드 (Implanted Kid)'],
 [98, 'Tiny Riot', 'Sam Ryder'],
 [99, '언덕나무', '이승윤'],
 [100, '어른', 'Sondia']]

In [ ]:
import pandas as pd

df = pd.DataFrame(song_data, columns = ['순위','타이틀','가수'])
df

     순위                        타이틀                        가수
0     1                       INVU              태연 (TAEYEON)
1     2          그래서 그래 (Feat. 윤하)          에픽하이 (EPIK HIGH)
2     3         그런 밤 (Some Nights)              태연 (TAEYEON)
3     4                    Dilemma              Apink (에이핑크)
4     5         Set Myself On Fire              태연 (TAEYEON)
..  ...                        ...                       ...
95   96  어떻게 이별까지 사랑하겠어, 널 사랑하는 거지                  AKMU(악뮤)
96   97                    이등병의 DM  임플란티드 키드 (Implanted Kid)
97   98                  Tiny Riot                 Sam Ryder
98   99                       언덕나무                       이승윤
99  100                         어른                    Sondia

[100 rows x 3 columns]

In [ ]:
df.to_excel('bugs.xlsx',index=False)

In [43]:
# 001

a = input('First Name :')
print(f'Hello {a}')

First Name :fi
Hello [fi]

In [ ]:
# 002

fname = input('Please enter your firstName : ')
surname = input('Please enter your surname : ')

print(f'Hello {fname} {surname}')

In [44]:
# 003

a = int(input('Please enter your first number : '))
b = int(input('Please enter your second number : '))

print(f'The total is {a+b}')

Please enter your first number : 5
Please enter your second number : 6
The total is 11

In [46]:
# 004

a = int(input('Enter the number of slices of pizza you started with : '))
b = int(input('How may slices have you eaten? : '))

print(f'The answer is {a - b}')

Enter the number of slices of pizza you started with : 8
How may slices have you eaten? : 3
The answer is 5

In [47]:
# 005

a = int(input('Enter the number of days :'))
hours = a * 24
mi = hours * 60
se = mi * 60

print(f'In, {a}, days there are...')
print(f'{hours} hours, ')
print(f'{mi} minutes, ')
print(f'{se} seconds, ')

Enter the number of days :5
In, 5, days there are...
120 hours,
7200 minutes,
432000 seconds,

In [51]:
# 006

num1 = int(input('Enter the number over 100 : '))
num2 = int(input('Enter the number under 10 : '))

print(f'{num2} goes into {num1} answer {num1 // num2}')

Enter the number over 100 : 150
Enter the number under 10 : 5
5 goes into 150 answer 30.0

In [52]:
##############################################
# IF Statement
##############################################

# 007
a = int(input('Please enter your first number : '))
b = int(input('Please enter your second number : '))

if a < b :
  print(a, b)
elif b < a:
  print(b, a)
else: 
  print('Same')

Please enter your first number : 5
Please enter your second number : 3
3 5

In [54]:
a = int(input('Please enter your first number : '))

if 10 <= a <= 20:
  print('Thank you')
else: 
  print('incorrect number')

Please enter your first number : 53
incorrect number

In [57]:
a = input('input color : ')
if a in ['red','RED','Red']:
  print('i like red too')
else: 
  print(f"i don't like {a}, i prefer red")

input color : red
i like red too

In [70]:
a = input('Is it raining ? ')

if a.lower() == 'yes':
  b = input('Is it windy ? ')
  if b.lower() == 'yes':
    print('It is too windy for an umbrella')
  else: 
    print('Take an umbrella')
else:
  print('Enjoy your day')

Is it raining ? yes
Is it windy ? yes
It is too windy for an umbrella

In [ ]:
age = input('What is your age ? ')

if age >= 18:
  print('You can vote')
elif age == 17:
  print('You can learn to drive')
elif age == 16:
  print('You can by a lottery ticket')
elif age < 16:
  print('You can go Trick of Treating')

In [71]:
a = input('what your name ? ')

print(len(a))

what your name ? adasfdsf
8

In [75]:
fname = input('Please enter your firstName : ')
surname = input('Please enter your surname : ')
fname, surname = fname.lower(), surname.lower()
change1 = fname.title()
change2 = surname.title()
name = fname + " " + surname
print(name)

Please enter your firstName : adfsaf
Please enter your surname : as
adfsaf as

In [76]:
fname = input('Please enter your firstName : ')

if len(fname) < 5:
  lname = input('Please enter your last name :')
  name = fname + lname
  print(name.upper())
else:
  print(fname.lower())

Please enter your firstName : bam
Please enter your last name :babam
BAMBABAM

In [83]:
no = input('word : ')

if no[0] in ['a','i','e','o','u']:
  no = no + 'way'
else:
  no = no[1:] + no[0] + 'ay'
print(no)

word : noonoo
oonoonay