<a href="https://colab.research.google.com/github/cromakicuki/ai/blob/main/22_01_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#############
# 주석 comment
#############

''' 
작성자: 
작성일: 22.01.25
버전: 0.1
'''

# 쌍따옴표와 따옴표는 동일하게 사용된다. """내용""" / '''내용'''
# 보통 삼중 따옴표는 
# 주석으로 여러 줄을 작성할 때 사용한다. 
# 한번에 주석을 붙일 때에는 컨트롤+슬래시를 사용.


# 주석 붙이는 위치
print('Hello world') # 보통은 행의 우측 또는 위에 주석을 붙인다.

Hello world

In [ ]:
#############
# 변수 Variable
#############

score = 100
print(score)
score = 200
print(score)

100
200

In [ ]:
a = 1
A = 2

print(a)
print(A)

3

In [ ]:
name = 'Alice'
age = 25
address = ''' 우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호'''
boyfriend = None
height = 168.5

print(name)
print(age)
print(address)
print(boyfriend)
print(height)

Alice
25
 우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호
None
168.5

In [9]:
#############
# 기본 자료형  type
#############

a = float(False)
print(a)

0.0

In [ ]:
# 논리 bool  성공 실패(True False)

a = bool(0)
print(a)
b = bool()
print(b)

In [14]:
# 문자열 인덱싱

ss = "990211-1005432"
print(ss[-7])
print(ss[0:2]) # 0번째에서 2번째 미만까지
print(ss[0:6])
print(ss[0:10:2])

1
99
990211
901-0

In [17]:
# print

print('Hello World')
print('Hello "World"')
print('Hello \'World\'')

Hello World
Hello "World"
Hello 'World'

In [18]:
print('Hello\n "World"')

Hello
 "World"

In [21]:
print("이름 \n전화")
print("이름\t전화\t주소")

이름
전화
이름	전화	주소

In [23]:
print('재미있는','파이썬','교실')

재미있는 파이썬 교실

In [25]:
print('평점', end=':')
print('5점')

평점:5점

In [30]:
print('국어','영어','수학')
print('국어','영어','수학', sep= '/')
print('국어','영어','수학', sep= ',')
print('국어','영어','수학', sep= '\n')
print('\n국어\n영어\n수학')

국어 영어 수학
국어/영어/수학
국어,영어,수학
국어
영어
수학

국어
영어
수학

In [34]:
# %연산자

print(10)
print('%d' % 10)
print('%f' % 3.14) 
print('%s' % '배고파') 
std = '마마'
print('제가 제일 좋아하는 노래는 %s 입니다' % std)

10
10
3.140000
배고파
제가 제일 좋아하는 노래는 마마 입니다

In [37]:
print("%d" % 1)
print("%5d" % 1)
print("%-5d" % 1)
print("%-5d" % 111)
print("%5d" % 111)

1
    1
1
111
  111

In [41]:
print('졸리다 %5f만큼' % 3.14) 
print('졸리다 %5.1f만큼' % 3.14)

졸리다 3.140000만큼
졸리다   3.1만큼

In [42]:
# format()
zipcode = '06236'
print('우편번호 : %s' % zipcode)
print('우편번호 : {}' .format(zipcode))

우편번호 : 06236
우편번호 : 06236

In [43]:
print('My name is {}. I\'m {} years old.' .format('james', 25))
print('My name is {1}. I\'m {0} years old.' .format('james', 25))
print('My name is {name}. I\'m {age} years old.' .format(name='james', age=25))

My name is james. I'm 25 years old.
My name is 25. I'm james years old.
My name is james. I'm 25 years old.

In [44]:
# f-strings
# 파이썬 3.6 이후부터 사용가능

who = 'you'
how = 'happy'
print(f'{who} make me {how}')

you make me happy

In [46]:
age = 25
print(f'내년에는 {age+1} 입니다.')

내년에는 26 입니다.

In [49]:
#############
# 입력 input()
#############

n = input()
print(f'당신이 입력한 내용은 "{n}" 입니다.')
print('당신이 입력한 내용은', n, '입니다.')

헤이
당신이 입력한 내용은 "헤이" 입니다.
당신이 입력한 내용은 헤이 입니다.

In [51]:
n = input('당신의 캐릭터를 픽업하세요 ')
print(f'당신의 캐릭터는 "{n}" 입니다.')
print('당신이 캐릭터는', n, '입니다.')

당신의 캐릭터를 픽업하세요 ㅇㅅ오
당신의 캐릭터는 "ㅇㅅ오" 입니다.
당신이 캐릭터는 ㅇㅅ오 입니다.

In [54]:
name = input('당신의 이름을 입력하세요? ')
age = input('당신의 나이를 입력하세요? ')
print(f'당신의 이름은 {name}이고 나이는 {age}입니다. ')

당신의 이름을 입력하세요? ?
당신의 나이를 입력하세요? ?
당신의 이름은 ?이고 나이는 ?입니다.

In [64]:
name = input('이름을 입력하세요 ')
age = input('나이를 입력하세요 ')

print('당신의 이름은 %s이고 나이는 %s입니다.' % (name,age))

print('당신의 이름은 {}이고 나이는 {}입니다.' .format(name,age))

print('당신의 이름은',name,'이고 나이는',age,'입니다.')

print(f'당신의 이름은 {name}이고 나이는 {age}입니다. ')

print(name, type(name))
print(age, type(age))

이름을 입력하세요 112
나이를 입력하세요 211
당신의 이름은 112이고 나이는 211입니다.
당신의 이름은 112이고 나이는 211입니다.
당신의 이름은 112 이고 나이는 211 입니다.
당신의 이름은 112이고 나이는 211입니다.
112 <class 'str'>
211 <class 'str'>

In [73]:
frice = int(input('할부 개월 입력 : '))
sum = 50000
monthly = round(sum/frice,2)

print(frice,'개월 동안 매달 내는 금액은',monthly,'입니다.')
print('{}개월 동안 매달 내는 금액은 {}입니다.' .format(frice,monthly))
print('%d개월 동안 매달 내는 금액은 %s입니다.' % (frice,monthly))
print(f'{frice}개월 동안 내는 금액은 {monthly} 입니다.')

할부 개월 입력 : 5
5 개월 동안 매달 내는 금액은 10000.0 입니다.
5개월 동안 매달 내는 금액은 10000.0입니다.
5개월 동안 매달 내는 금액은 10000.0입니다.
5개월 동안 내는 금액은 10000.0 입니다.

In [ ]:
a = float(input('소수점을 포함한 숫자를 입력하시오 '))
b = float(input('앞서 입력한 숫자와 다른 소수점을 포함한 숫자를 입력하시오 '))
c = a+b

print(a,'과',b,'의 합계는',c,'입니다.')
print({})